<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hipmob.android.experience"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- Required for push notifications -->
    <permission android:name="com.hipmob.android.exerience.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".TopLevelOptionsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.hipmob.android.experience.knowledgebase.KnowledgeBaseOptionsActivity" />
        <activity android:name="com.hipmob.android.experience.knowledgebase.KnowledgeBaseSearchOnlyActivity" />
        <activity android:name="com.hipmob.android.experience.knowledgebase.KnowledgeBaseSearchChatAlwaysActivity" />
        <activity android:name="com.hipmob.android.experience.knowledgebase.KnowledgeBaseSearchChatIfOperatorAvailableActivity" />
        <activity android:name="com.hipmob.android.experience.chat.LiveChatOptionsActivity" />
        <activity android:name="com.hipmob.android.experience.chat.DefaultLiveChatActivity" />
        <activity android:name="com.hipmob.android.experience.chat.CustomMessageLayoutLiveChatActivity" />
        <activity android:name="com.hipmob.android.experience.articleview.ArticleViewOptionsActivity" />
        <activity android:name="com.hipmob.android.experience.articleview.ArticleViewOnlyActivity" />
        <activity
            android:name="com.hipmob.android.HipmobCore"
            android:label="@string/app_name" />
        <activity
            android:name="com.hipmob.android.HipmobHelpDeskArticleViewActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.hipmob.android.HipmobHelpDeskSearchActivity"
            android:label="@string/app_name" />
		<receiver
            android:name="com.hipmob.android.HipmobPlayPushReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.hipmob.android.experience" />
            </intent-filter>
        </receiver>
        <service android:name="com.hipmob.android.HipmobPlayPushService" />
        
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="hipmob_push_sender_ids"
            android:resource="@string/sender_ids" />
        <meta-data
            android:name="hipmob_notification_target"
            android:resource="@string/notification_target" />
        <meta-data
            android:name="hipmob_notification_text"
            android:resource="@string/notification_message_multiple" />
        <meta-data
            android:name="hipmob_notification_text_single"
            android:resource="@string/notification_message_single" />
    </application>

</manifest>